<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="custom_styles.css">
        <meta name = "viewport" content = "width = device-width", initial-scale = 1.0>
        <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/favicon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
        <link rel="manifest" href="favicon_io/site.webmanifest">
        <title>Vidrio - Classroom</title>
    </head>
    <body id="classroom">
        <form>
            <label for="username">Name: </label>
            <input type="text" name=”username” id="username">
            <button id="join-button">Join call</button>
            <button id="share_screen" disabled>Share screen</button>
        </form>
        <p id="count">Disconnected.</p>
        <div class="container flexbox col-9">

                <div id="local" class="classroom-unseated-student" title="waitingRoom" draggable="true" ondragstart="drag(event)"><div></div><div class="label">Me</div></div>
                <!-- <div id="local" class="participant" title="waitingRoom" draggable="true" ondragstart="drag(event)"><div></div><div class="label">Me</div></div> -->
                <!-- more participants will be added dynamically here -->

        </div>
        <div class="container grid">
            <!--row 1 -->
            <div class="grid-item classroom-empty-space"></div>
            <div id="seat_1a" class="grid-item classroom-seated-student table_1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div class="grid-item classroom-empty-space"></div>
            <div class="grid-item classroom-empty-space"></div>
            <div class="grid-item classroom-empty-space"></div>
            <div id="seat_2a" class="grid-item classroom-seated-student table_2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div class="grid-item classroom-empty-space"></div>

             <!--row 2 -->
             <div id="seat_1b" class="grid-item classroom-seated-student table_1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
             <div class="grid-item classroom-table table_1"></div>
             <div id="seat_1c" class="grid-item classroom-seated-student table_1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
             <div class="grid-item classroom-empty-space"></div>
             <div id="seat_2b" class="grid-item classroom-seated-student table_2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
             <div class="grid-item classroom-table table_2"></div>
             <div id="seat_2c" class="grid-item classroom-seated-student table_2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

              <!--row 3 -->
            <div class="grid-item classroom-empty-space"></div>
            <div id="seat_1d" class="grid-item classroom-seated-student table_1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div class="grid-item classroom-empty-space"></div>
            <div class="grid-item classroom-empty-space"></div>
            <div class="grid-item classroom-empty-space"></div>
            <div id="seat_2d" class="grid-item classroom-seated-student table_2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div class="grid-item classroom-empty-space"></div>

             <!--row 4 -->
             <div class="grid-item classroom-empty-space"></div>
             <div class="grid-item classroom-empty-space"></div>
             <div class="grid-item classroom-teacher-screen"></div>
             <div class="grid-item classroom-teacher-screen"></div>
             <div class="grid-item classroom-teacher-screen"></div>
             <div class="grid-item classroom-empty-space"></div>
             <div class="grid-item classroom-empty-space"></div>

              <!--row 5 -->
            <div class="grid-item classroom-empty-space"></div>
            <div class="grid-item classroom-empty-space"></div>
            <div class="grid-item classroom-teacher-screen"></div>
            <div class="grid-item classroom-teacher-screen"></div>
            <div class="grid-item classroom-teacher-screen"></div>
            <div id="seat_teacherDesk" class="grid-item classroom-seated-student" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div class="grid-item classroom-teacher-video"></div>

             <!--row 6 -->
             <div class="grid-item classroom-empty-space"></div>
             <div class="grid-item classroom-empty-space"></div>
             <div class="grid-item classroom-teacher-screen"></div>
             <div class="grid-item classroom-teacher-screen"></div>
             <div class="grid-item classroom-teacher-screen"></div>
             <div class="grid-item classroom-empty-space"></div>
             <div class="grid-item classroom-empty-space"></div>

              <!--row 7 -->
            <div class="grid-item classroom-empty-space"></div>
            <div id="seat_3a" class="grid-item classroom-seated-student table_3" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div class="grid-item classroom-empty-space"></div>
            <div class="grid-item classroom-empty-space"></div>
            <div class="grid-item classroom-empty-space"></div>
            <div id="seat_4a" class="grid-item classroom-seated-student table_4" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div class="grid-item classroom-empty-space"></div>

             <!--row 8 -->
             <div id="seat_3b" class="grid-item classroom-seated-student table_3" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
             <div class="grid-item classroom-table table_3"></div>
             <div id="seat_3c" class="grid-item classroom-seated-student table_3" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
             <div class="grid-item classroom-empty-space"></div>
             <div id="seat_4b" class="grid-item classroom-seated-student table_4" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
             <div class="grid-item classroom-table table_4"></div>
             <div id="seat_4c" class="grid-item classroom-seated-student table_4" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

              <!--row 9 -->
            <div class="grid-item classroom-empty-space"></div>
            <div id="seat_3d" class="grid-item classroom-seated-student table_3" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div class="grid-item classroom-empty-space"></div>
            <div class="grid-item classroom-empty-space"></div>
            <div class="grid-item classroom-empty-space"></div>
            <div id="seat_4d" class="grid-item classroom-seated-student table_4" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div class="grid-item classroom-empty-space"></div>


        </div>
        <div id="bottom-bar">
            <a href="exit.html"><button id="disconnect-button">Disconnect</button></a>
        </div>
        <script src="//media.twiliocdn.com/sdk/js/video/releases/2.3.0/twilio-video.min.js"></script>
        <script src="{{ url_for('static', filename='app.js') }}"></script>
    </body>
</html>